.icon-account {
	margin-right: 10px;
	margin-top: 23px;
}
ion-slide {
	display: block;
	text-align: left !important;
	width: 100% !important;
}
.labelErr {
	font-size: 0.8rem;
}
ion-footer div {
	color: #666666;
	font-size: 0.7rem;
	margin-top: 10px;
}
