<app-header-single></app-header-single>

<ion-content [fullscreen]="true">
	<ion-card>
		<ion-card-header>
			<ion-card-title color="primary">Generar código QR</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<ion-slides [options]="slidesOptions" #accountSlider>
				<ion-slide>
					<ion-list>
						<ion-list-header>
							<ion-label><strong>Producto destino</strong></ion-label>
						</ion-list-header>

						<ion-item>
							<ion-label position="floating"
								>Ingrese el número del producto</ion-label
							>
							<ion-icon
								slot="start"
								name="card"
								class="icon-account"
								color="secondary"
							></ion-icon>
							<ion-input
								type="number"
								(ionBlur)="inputBlur(dataGenerateQR.productDestination, 'producto')"
								[(ngModel)]="dataGenerateQR.productDestination"
								(ngModelChange)="validarInput(dataGenerateQR.productDestination, 'producto')"
							></ion-input>
						</ion-item>
						<ion-label
							*ngIf="showErr"
							class="labelErr ion-padding-start"
							color="danger"
							>{{ textLabelErr }}</ion-label
						>

						<ion-radio-group
							[value]="dataGenerateQR.productType"
							(ionChange)="selectProduct($event, 'tipo')"
						>
							<ion-list-header>
								<ion-label>Seleccione el tipo de producto</ion-label>
							</ion-list-header>

							<ion-item>
								<ion-label>Ahorros</ion-label>
								<ion-radio value="ahorros"></ion-radio>
							</ion-item>

							<ion-item>
								<ion-label>Corriente</ion-label>
								<ion-radio value="corriente"></ion-radio>
							</ion-item>
						</ion-radio-group>
					</ion-list>
				</ion-slide>

				<ion-slide>
					<ion-list>
						<ion-list-header>
							<ion-label><strong>Valor</strong></ion-label>
						</ion-list-header>

						<ion-item>
							<ion-label position="floating"
								>Ingrese el valor a enviar</ion-label
							>
							<ion-icon
								slot="start"
								name="cash-outline"
								class="icon-account"
								color="secondary"
							></ion-icon>
							<ion-input
								type="number"
								(ionBlur)="inputBlur(dataGenerateQR.value, 'valor')"
								[(ngModel)]="dataGenerateQR.value"
								(ngModelChange)="validarInput(dataGenerateQR.value, 'valor')"
							></ion-input>
						</ion-item>
						<ion-label
							*ngIf="showErr"
							class="labelErr ion-padding-start"
							color="danger"
							>{{ textLabelErr }}</ion-label
						>
					</ion-list>
				</ion-slide>

				<ion-slide>
					<ion-list>
						<ion-list-header>
							<ion-label><strong>Producto origen</strong></ion-label>
						</ion-list-header>
						<ion-item>
							<ion-label>Lista de cuentas</ion-label>
							<ion-select
								interface="action-sheet"
								cancelText="Cancelar"
								(ionChange)="selectProduct($event, 'cuenta')"
							>
								<ion-select-option
									*ngFor="let cuenta of cuentas"
									[value]="cuenta.number"
									>{{ cuenta.number }} - $ {{ cuenta.saldo | number
									}}</ion-select-option
								>
							</ion-select>
						</ion-item>
					</ion-list>
				</ion-slide>
			</ion-slides>
		</ion-card-content>
	</ion-card>
</ion-content>

<ion-footer>
	<ion-grid fixed>
		<ion-row>
			<ion-col size="10" offset="1">
				<ion-button
					[disabled]="!isActivatedButton"
					[hidden]="(activeIndex + 1) === totalSlides"
					color="primary"
					(click)="swipeNext()"
					expand="full"
					shape="round"
				>
					Siguiente
				</ion-button>

				<ion-button
					[disabled]="!isActivatedButton"
					[hidden]="(activeIndex + 1) !== totalSlides"
					color="secondary"
					(click)="generateBarCode()"
					expand="full"
					shape="round"
				>
					Generar QR
				</ion-button>
				<div class="ion-text-center">
					Paso {{ activeIndex + 1 }} de {{ totalSlides }}
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-footer>
