<ion-header [translucent]="true">
	<ion-toolbar color="primary">
		<ion-title>{{ titulo }}</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="logOut()" expand="block" fill="clear" shape="round">
				<ion-icon slot="icon-only" name="log-out"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
