<app-header-single></app-header-single>

<ion-content [fullscreen]="true">
	<ion-card>
		<ion-card-header>
			<ion-card-title>{{ _cuentasService.cuenta.type }}</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			<ion-grid fixed>
				<ion-row>
					<ion-col size="6">
						<p>Número</p>
						<h3><strong>{{ _cuentasService.cuenta.number }}</strong></h3>
					</ion-col>
					<ion-col size="6">
						<p>Saldo disponible</p>
						<h3>
							<strong>$ {{ _cuentasService.cuenta.saldo | number }}</strong>
						</h3>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card-content>
	</ion-card>

	<ion-list
		class="ion-padding"
		*ngIf="_cuentasService.cuenta.movimientos.length > 0"
	>
		<ion-list-header>
			<ion-label color="primary"><strong>Movimientos</strong></ion-label>
		</ion-list-header>
		<ion-item *ngFor="let movimiento of _cuentasService.cuenta.movimientos">
			<ion-label>
				<h3>{{ movimiento.date | date }}</h3>
				<p>{{ movimiento.type }}</p>
			</ion-label>
			<ion-note slot="end" [color]="movimiento.ingreso ? 'success' : 'danger' "
				>$ {{ movimiento.valor | number }}</ion-note
			>
		</ion-item>
	</ion-list>
</ion-content>
