<ion-content>
	<ion-card color="primary">
		<ion-card-header class="ion-text-center">
			<ion-card-title class="ion-margin-bottom"
				><strong>Mi banco</strong></ion-card-title
			>
			<ion-card-subtitle
				>Inicie sesión para poder consultar, transferir y
				pagar</ion-card-subtitle
			>
		</ion-card-header>
	</ion-card>

	<ion-card class="top30">
		<ion-card-content>
			<form
				class="ion-margin-top"
				autocomplete="off"
				(ngSubmit)="login()"
				[formGroup]="loginForm"
			>
				<ion-item>
					<ion-label position="floating">Número de documento</ion-label>
					<ion-input
						type="number"
						formControlName="documento"
						required
					></ion-input>
				</ion-item>
				<ion-item>
					<ion-label position="floating">Clave virtual</ion-label>
					<ion-input
						type="password"
						formControlName="clave"
						required
					></ion-input>
				</ion-item>
				<ion-item class="ion-margin-top ion-margin-bottom" lines="none">
					<ion-checkbox slot="start" formControlName="recordar"></ion-checkbox>
					<ion-label>Recordar mis datos</ion-label>
				</ion-item>
				<ion-button type="submit" expand="full" color="primary"
					>Ingresar</ion-button
				>

				<div *ngIf="showTouchID" class="ion-margin ion-text-center touchId">
					<button type="button" (click)="loginTouchID()">
						<img src="../../assets/img/touchId.png" alt="TouchID" />
					</button>
				</div>
			</form>
		</ion-card-content>
	</ion-card>
</ion-content>
