.top30 {
	margin-top: 30%;
}
ion-item {
	--background: none;
}
div.touchId {
	margin-top: 2rem;
	button {
		background: none;
		border: none;
	}
	button:focus {
		border: none;
		outline: none;
	}
	img {
		width: 5rem;
	}
}
