<ion-tabs>
	<ion-tab-bar slot="bottom">
		<ion-tab-button tab="tab1">
			<ion-icon name="cloudy-night"></ion-icon>
			<ion-label>Clima</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="tab2">
			<ion-icon name="list"></ion-icon>
			<ion-label>Cuentas</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="tab3">
			<ion-icon name="people"></ion-icon>
			<ion-label>Contactos</ion-label>
		</ion-tab-button>
	</ion-tab-bar>
</ion-tabs>
