<app-header titulo="Cuentas"></app-header>

<ion-content [fullscreen]="true">
	<ion-card>
		<ion-card-header>
			<ion-card-title color="primary">Cuentas</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<ion-list>
				<ion-item
					detail
					button
					*ngFor="let cuenta of cuentas"
					(click)="verCuenta(cuenta)"
				>
					<ion-label>
						<h2><strong>{{ cuenta.type }}</strong></h2>
						<h3>{{ cuenta.number }}</h3>
						<p class="ion-text-end">Saldo disponible</p>
						<h3 class="ion-text-end">
							<strong>$ {{ cuenta.saldo | number }}</strong>
						</h3>
					</ion-label>
				</ion-item>
			</ion-list>
		</ion-card-content>
	</ion-card>

	<ion-fab vertical="bottom" horizontal="end" slot="fixed" mode="ios">
		<ion-fab-button color="secondary">
			<ion-icon name="qr-code-outline"></ion-icon>
		</ion-fab-button>
		<ion-fab-list side="top">
			<ion-fab-button color="primary">
				<ion-icon (click)="generateBarCode()" name="qr-code"></ion-icon>
			</ion-fab-button>
			<ion-fab-button color="dark">
				<ion-icon (click)="scanBRcode()" name="barcode-outline"></ion-icon>
			</ion-fab-button>
		</ion-fab-list>
	</ion-fab>
</ion-content>
