.container {
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
.temp {
	border-left: 3px solid #50c8ff;
	padding-left: 10px;
	text-transform: capitalize;
}
.size17 {
	font-size: 1.7rem;
}
ion-icon {
	color: #50c8ff;
	vertical-align: middle;
}
h2 {
	font-size: 3rem;
}
.infoLocation {
	padding-left: 7px;
}
