<app-header titulo="Clima"></app-header>

<ion-content [fullscreen]="true">
	<!-- Skeleton screen -->
	<div *ngIf="!weather" class="container">
		<div class="ion-padding custom-skeleton">
			<ion-skeleton-text
				animated
				style="width: 25%; height: 20px"
			></ion-skeleton-text>
			<ion-skeleton-text
				animated
				style="width: 35%; height: 20px"
			></ion-skeleton-text>
			<ion-skeleton-text
				animated
				style="width: 100%; height: 60px; margin: 30px 0"
			></ion-skeleton-text>
			<ion-skeleton-text
				animated
				style="width: 40%; height: 20px"
			></ion-skeleton-text>
			<ion-skeleton-text
				animated
				style="width: 45%; height: 20px"
			></ion-skeleton-text>
		</div>
	</div>
	<!-- End Skeleton screen -->

	<div *ngIf="weather" class="container">
		<ion-card>
			<ion-card-content>
				<ion-grid>
					<ion-row>
						<ion-col size="1"
							><ion-icon name="location-outline" class="size17"></ion-icon
						></ion-col>
						<ion-col size="11">
							<div class="ion-text-start infoLocation">
								<strong>{{weather?.name}}</strong> <br />
								{{ date | date }} | {{ hours }}
							</div>
						</ion-col>
					</ion-row>
				</ion-grid>

				<ion-grid>
					<ion-row>
						<ion-col size="6">
							<h2>{{ weather?.main.temp }} &#8451;</h2>
						</ion-col>
						<ion-col size="6">
							<img [src]="iconurl" />
						</ion-col>
					</ion-row>
				</ion-grid>

				<ion-grid>
					<ion-row>
						<ion-col>
							<div class="temp ion-text-start">
								{{ weather?.weather[0].description }} <br />
								<span class="ion-margin-end">
									<ion-icon name="arrow-up-outline"></ion-icon> {{
									weather?.main.temp_max }} &#8451;
								</span>
								<ion-icon name="arrow-down-outline"></ion-icon> {{
								weather?.main.temp_min }} &#8451;
							</div>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-card-content>
		</ion-card>
	</div>
</ion-content>
