<app-header titulo="Contactos"></app-header>

<ion-content [fullscreen]="true">
	<ion-list>
		<ion-list-header
			>Todos los contactos ({{contactos.length}})</ion-list-header
		>

		<!-- Skeleton screen -->
		<div *ngIf="showSkeleton">
			<ion-item *ngFor="let item of [1,1,1,1,1,1,1,1,1,1]">
				<ion-avatar slot="start">
					<ion-skeleton-text animated></ion-skeleton-text>
				</ion-avatar>
				<ion-label>
					<h2>
						<ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
					</h2>
					<p>
						<ion-skeleton-text animated style="width: 35%"></ion-skeleton-text>
					</p>
				</ion-label>
			</ion-item>
		</div>
		<!-- End Skeleton screen -->

		<div *ngIf="contactos.length > 0">
			<ion-item
				*ngFor="let contacto of contactos"
				button
				(click)="verContacto(contacto)"
			>
				<ion-avatar slot="start">
					<img src="../../assets/img/avatar.png" />
				</ion-avatar>
				<ion-label>
					<h2>{{ contacto.name }}</h2>
					<h3>{{ contacto.email }}</h3>
					<p>{{ contacto.phoneNumber }}</p>
				</ion-label>
			</ion-item>
		</div>
	</ion-list>
</ion-content>
