<app-header-single [title]="_contactService.contacto.name"></app-header-single>

<ion-content [fullscreen]="true">
	<ion-img src="../../assets/img/avatar.png"></ion-img>

	<ion-card>
		<ion-card-content>
			<ion-item
				button
				href="tel:{{ _contactService.contacto.phoneNumber }}"
				lines="none"
			>
				<ion-icon name="call-outline" slot="start" color="primary"></ion-icon>
				<ion-label>
					<h3><strong>{{ _contactService.contacto.phoneNumber }}</strong></h3>
					<p color="secondary">Mobile</p>
				</ion-label>
			</ion-item>
		</ion-card-content>
	</ion-card>
</ion-content>
